<%# Header #%>

<nav>
  <div id="logo-cont">
    <%= image_tag 'shork.png', id: "nav-logo" %>
    <span id="nav-name">Schinkenfuchs</span>
  </div>
  <div id="nav-links">
    <span class="nav-link">Andere</span>
    <div class="nav-dot"></div>
    <span class="nav-link">gmiatliche</span>
    <div class="nav-dot"></div>
    <span class="nav-link">Links</span>
  </div>
  <div id="right-cont" data-controller="bulbSwitch">
    <%= image_tag 'lightbulb-dm.svg',
      id: "mode-switch",
      data: {
        action: "click->bulbSwitch#swap",
        dmbulb: asset_path('lightbulb-dm.svg'),
        lmbulb: asset_path('lightbulb-lm.svg')
      } %>

    <%= link_to 'Website beantragen', root_path, id: "get-website" %>
  </div>
</nav>