<div id="homepage-main">
  <div id="hmp-firstrow">
    <h1 id="hmp-heading">
      <span class="hmp-heading-wd">Gmiatliche</span>
      <span class="hmp-heading-wd fancy">Webseiten</span>
      <span class="hmp-heading-wd">fia</span>
      <span class="hmp-heading-wd">eich</span>
    </h1>
    <div id="hmp-pic">

    </div>
  </div>
</div>


<%#get language thing?%>
<%#= t(".language", code: I18n.locale) %>