<div id="process-cont">
  <h1 id="process-heading">How it's made</h1>
  <div class="process-tutcont">
    <div class="p-step">
      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>

      <div class="p-even-cont">
        <h1 class="legal-heading">First off:</h1>
        <%= image_tag 'arrow.svg', id: "arrow-process" %>
        <span class="legal-text">You're first gonna need to order a Website "here" and fill out some specifications, the more precise you explain it there the easier it is for us</span>
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">Secondly:</h1>
        <span class="legal-text">We'll get back to you and you'll get login info, with that you can login "here" and see all sorts i things</span>
      </div>
      <div class="p-even-cont">
        img?
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">Thirdly:</h1>
        <span class="legal-text">Depending on how much info we have, or still need, we'll stay in touch and give you our first ideas on the design or how it could works</span>
      </div>

      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>
    </div>
  </div>
</div>