<div id="process-cont">
  <h1 id="process-heading">What happened when?</h1>
  <div class="process-tutcont" id="t-cont">
    <div class="p-step" id="t-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">biohof</h1>
        <span class="legal-text">biohof jagaredt fahrschule</span>
      </div>

      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        img?
      </div>
      <div class="p-even-cont">
        <h1 class="legal-heading">crazy hr reiter</h1>
        <span class="legal-text">damn</span>
      
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">now we here</h1>
        <span class="legal-text">hellooo</span>
      </div>

      <div class="p-even-cont">
        img or sum maybe sum triangles or things that'd make sense
      </div>
    </div>
  </div>
</div>