nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 0 auto;
  padding: 20px;

  height: auto;
  width: 1250px;
}

@media screen and (max-width: 1300px) {
  nav {
    width: 900px;
  }
}

#logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

#nav-logo {
  width: 40px;
}

#nav-name {
  font-size: 24px;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  cursor: pointer;
}

.nav-link::after {
  /* Underline Anim */
}

.nav-dot {
  width: 10px;
  height: 10px;

  border-radius: 5px;

  background-color: var(--text-dm);
}

#right-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mode-switch {
  width: 2.25em;
  height: 2.25em;

  cursor: pointer;
}

.mode-switch-hidden {
  display: none;
}

#get-website {
  text-decoration: none;
  color: inherit;

  padding: 15px;

  border-radius: 5px;
  background-color: var(--blue);

  box-shadow: -2px -2px 10px -2px var(--blue), 2px 2px 10px -2px var(--blue);
}

#mobile-nav {
  display: none;
}

@media screen and (max-width: 1024px) {
  #mobile-nav {
    display: block;
  }

  nav {
    display: none;
  }
}

#mobile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px; /* smaller (30-40) for smller phons*/

  height: auto;
  width: calc(100% -80px);
}

#mobile-logo-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  width: 25%;
  height: auto;
  
  z-index: 5;
}

#mobile-logo {
  width: 35px;

}

#mobile-nav-name {
  font-size: 16px;
}

#mobile-burger-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 25%;
  
  z-index: 5;
}

#burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.burger-line {
  width: 30px;
  height: 4px;

  border-radius: 1px;

  background-color: var(--text-dm);

  transition: width 0.2s ease;
}

.short {
  width: 20px;
}

.mobile-hidden {
  display: none;
}

#mobile-links {
}

#mobile-link-cont {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}

#mobile-link-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  width: 90%;

  border-radius: 0 0 15px 15px;

  background-color: var(--text-lm);
}

#spacing-mobilelink {
  height: 75px;
}

.line-mobile-link {
  width: 36%;
  height: 1px;

  box-shadow: 0 4px 10px 0px var(--blue);

  background-color: var(--text-dm);
}

.long-mobile-link {
  margin-top: 30px;
  width: 60%;
}

#mobile-link-options {
  display: flex;
  justify-content: space-around;

  width: 80%;

  padding: 30px;
}

#plaque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh
}

.darkened {
  background-color: rgba(0, 0, 0, 0.6);
}

#mobile-language-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: var(--text-dm);
  height: 65%;
  width: 65px;
}

#mobile-lang-select {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-lm);
  cursor: pointer;
  font-size: 15px;
  font-weight: 200;
}

#mobile-lang-select option {
  background: var(--text-dm);
  color: var(--text-lm);
  font-family: inherit;
  font-weight: normal !important;
}