nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 0 auto;
  padding: 20px;

  height: auto;
  width: 1250px;
}

@media screen and (max-width: 1300px) {
  nav {
    width: 900px;
  }
}


#mobile-activehuh {
  position: absolute;
  top: 0;
  left: 0;

  color: red;
}

@media screen and (max-width: 1024px) {
  /* MOBILE */
  #mobile-activehuh {
    color: green;
}
}

#logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

#nav-logo {
  width: 40px;
}

#nav-name {
  font-size: 24px;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  cursor: pointer;
}

.nav-link::after {
  /* Underline Anim */
}

.nav-dot {
  width: 10px;
  height: 10px;

  border-radius: 5px;

  background-color: var(--text-dm);
}

#right-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mode-switch {
  width: 2.25em;
  height: 2.25em;

  cursor: pointer;
}

.mode-switch-hidden {
  display: none;
}

#get-website {
  text-decoration: none;
  color: inherit;

  padding: 15px;

  border-radius: 5px;
  background-color: var(--blue);

  box-shadow: -2px -2px 10px -2px var(--blue), 2px 2px 10px -2px var(--blue);
}