#homepage-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#hmp-firstrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 550px;
}

#hmp-heading {
  height: 10em;
  width: 15em;
  text-wrap: balance;

  margin: 0;
}

.hmp-heading-wd {
  font-size: 84px;
  font-weight: 100;
  color: var(--textdm)
}

.fancy {
  font-style: italic;
  font-weight: 200;
  color: var(--blue);
}

#hmp-pic {
  width: 350px;
  height: 350px;

  background-color: rgba(0, 0, 0, 0.2);
}