#homepage-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#hmp-firstrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 600px;
}

#hmp-heading {
  height: 10em;
  width: 15em;
  text-wrap: balance;

  margin: 0;
}

.hmp-heading-wd {
  font-size: 84px;
  font-weight: 100;
  color: var(--text-color)
}

.fancy {
  font-style: italic;
  font-weight: 200;
  color: var(--blue);
}

#hmp-pic {
  width: 350px;
  height: 350px;

  background-color: rgba(0, 0, 0, 0.2);
}

#hmp-spacer {
  height: 160px;
}

#hmp-services {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#hmp-plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  flex: 1;
}

@media screen and (max-width: 1300px) {
  #hmp-plans {
    gap: 50px;
  }
}

.hmp-plan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  width: 300px;
  height: auto;

  border: 2px solid var(--blue);
  border-radius: 20px;

  background-color: rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 54px;
  padding: 20px 0 0 0;
  font-weight: 100;
}

.plan-line-title {
  width: 75%;
  height: 1px;
  
  margin: 0 0 10px 0;


  background-color: var(--text-color);
}