#process-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100vw;
  height: auto;
  padding: 50px 0;
}

#process-heading {
  font-size: 54px;
  font-weight: 200;
}

.p-step {
  display: flex;
  align-items: space-evenly;
  width: auto;
  height: auto;
  gap: 100px;
}

.p-even-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  gap: 10px;
}

.process-tutcont {
  display: flex;
  flex-direction: column;
  gap: 80px
}

#t-cont {
  gap: 20px
}