<div class="legal-cont">
  <div class="legal-wrap">
    <h1 class="legal-pageheading">Imprint</h1>
    <span class="legal-updated">Last updated: 22-09-2025</span>

    <div class="legal-section">
      <h1 class="legal-heading">Who are we</h1>
      <span class="legal-text">Heres who we are</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">We sell your info</h1>
      <span class="legal-text">Efficiently</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">2. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

      <h2 class="legal-subheading">2.1 you pay us</h2>
      <span class="legal-text">we build site</span>
    </div>

    <div class="legal-section">
      <h1 class="legal-heading">3. You give us moneyy</h1>
      <span class="legal-text">Moneyyy</span>

    </div>
  </div>

</div>