<div id="about-cont">
  <span id="about-heading">Let's get to know each other!</span>

  <div id="creator-cont">
    <div class="creator-wrap">
      <%= image_tag 'shork.png', width: "400", id: "flipped" %>
      <div class="about-textarea">
        <div>
          <h1>NAME Namen</h1>
          <span>big boss</span>
        </div>
        <hr>
        <p>TExt</p>
      </div>
    </div>
    <div class="creator-wrap">
      <%= image_tag 'shork.png', width: "400", class: "right" %>
      <div class="about-textarea">
        <div>
          <h1>NAME Namen</h1>
          <span>big boss</span>
        </div>
        <hr>
        <p>TExt</p>
      </div>
    </div>
  </div>
</div>