<div class="company-cont">
  <div class="company-wrap">
    <h1>Testimonials</h1>
    
    <section class="testimonial">
      <h2>Biohof Jagaredt</h2>
      <span>TestText</span>
    </section>

    <span id="underwhelming">"That's It?"</span>


  </div>
</div>