<div id="process-cont">
  <h1 id="process-heading">Testimonials</h1>
  <div class="process-tutcont">
    <div class="p-step">
      <div class="p-even-cont">
        <h1 class="legal-heading">Biohof Jagaredt</h1>
        <span class="legal-text">Biohof yeehaw Biohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehaw</span>
      </div>

      <div class="p-even-cont">
        <%= image_tag 'shork.png', width: "400px" %>
      </div>
    </div>

    <div class="p-step">
      <div class="p-even-cont">
        <%= image_tag 'shork.png', width: "400px" %>
      </div>

      <div class="p-even-cont">
        <h1 class="legal-heading">Biohof Jagaredt</h1>
        <span class="legal-text">Biohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehawBiohof yeehaw</span>
      </div>
    </div>
  </div>

  <span id="underwhelming">"That's It?"</span>
</div>